* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template: 100vh / 20vw 1fr;
}

.sidebar {
    color: white;
    background-image: url(bg.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.panel {
    display: grid;
    grid-template-rows: 15vh 6vh 1fr;
}

.panel-search {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.search {
    padding-left: 2vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.search img {
    width: 3vw;
    height: 4vh;
    filter: invert();
}

.search-input {
    width: 90vh;
    background-color: black;
    border: 1px solid #bd251e;
    padding: .4vw;
    color: white;
}

.details {
    padding-right: 2vw;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.details img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.bell-icon {
    filter: invert();
}

.panel-extra{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 4vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.extra-name{
    display: flex;
    align-items: center;
    gap:10px;
}

.extra-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.button {
    font-family: Roboto;
    font-size: 1rem;
    background-color: #000000;
    color: #a6a6a6;
    border: 1px solid #bd251e;
    padding: 5px;
}

.button:hover {
    border: 1px solid rebeccapurple;
    color: white;
}

.extra-name img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem
}

.panel-lower {
    display: grid;
    grid-template: 1fr / 60vw 1fr;
}

.projects {
    background-color: beige;
    display: grid;
    gap: 5px;
    grid-template: 3vh repeat(3, 1fr) / repeat(2, 1fr);

}

.projects>h4 {
    grid-column: 1 / -1;
    background-color: red;
}

.item {
    outline: 1px solid;

}

.announcements {
    display: grid;
    background-color: rebeccapurple;
    grid-template-rows: 3vh 1fr 3vh 1fr;
    gap: 5px;

}

.announcements>h4 {
    grid-column: 1 / -1;
    background-color: red;
}

.announce-item {
    outline: 1px solid;

}

.dashboard {
    margin-top: 25px;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.dashboard img {
    width: 5vw;
    height: 8vh;
    filter: invert();
}


.primary-links {
    font-size: 1.5rem;
    margin-top: 5%;
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.primary-links img {
    width: 3vw;
    height: 4vh;
    filter: invert();
}

.primary-links li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 2vh;
    gap: 10px;

}

.primary-links li:nth-child(6) {
    margin-bottom: 5rem;
}

.bottom-text {
    position: relative;
    top: 25vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
